<header>
  <div class="nav navbar top-bar">
    <div class="top-bar__items container">
      <ul class="top-bar__links d-flex">
        <li class="bold-text">Viber</li>
        <li>+375 29 302 10 21</li>
        <li><a href="#" class="bold-text">More</a></li>
        <li class="contact-text">Contact center from 8:00 to 22:00</li>
      </ul>
    </div>
  </div>
  <div class="header nav">
    <div class="navbar container">
      <h1 class="logo bold-text">RS Shop</h1>
      <button class="btn-ct">Catalog</button>
      <input type="text" placeholder="Product Search" class="input" />
      <button class="btn btn-primary">Account</button>
    </div>
  </div>
  <div class="category-container">
    <div class="container">
      <ul
        class="category-container__links d-flex justify-content-between align-items-center"
      >
        <li><a href="#">Appliances</a></li>
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Computers And Peripherals</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Leisure and Hobbies</a></li>
      </ul>
    </div>
  </div>
</header>
